@font-face {
  font-family: "Figtree";
  src: url(../assets/fonts/static/Figtree-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url(../assets/fonts/static/Figtree-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
